<ion-view view-title="ADN">
  <ion-content class="padding">

<div class="row">
      <div class="col">
        <div style="background: rgba(1,1,0,0.9);">
          <div id="stage">
            <div id="spinner" style="text-align: center; color: #fff;">
              <h1><span class="blue">.</span><span class="lineas2">________</span><span class="pink">.</span></h1>

              <h1><span class="blue">.</span><span class="lineas">________</span><span class="pink">.</span></h1>

              <h1><span class="blue">.</span><span class="lineas2">________</span><span class="pink">.</span></h1>
              <h1><span class="blue">.</span><span class="lineas">________</span><span class="pink">.</span></h1>

              <h1><span class="blue">.</span><span class="lineas2">________</span><span class="pink">.</span></h1>

              <h1><span class="blue">.</span><span class="lineas">________</span><span class="pink">.</span></h1>
              <h1><span class="blue">.</span><span class="lineas2">________</span><span class="pink">.</span></h1>.
              <h1><span class="blue">.</span><span class="lineas">________</span><span class="pink">.</span></h1>

              <h1><span class="blue">.</span><span class="lineas2">________</span><span class="pink">.</span></h1>

              <!--saddddasd-->
            </div>
          </div>
      </div>
    </div>

  </ion-content>
</ion-view>
