#principal{
  width: 900px;
  height: auto; overflow: hidden;
  border: 0px solid #000;
  margin: auto;

}

header{
  width: 900px;
  height: 100px;
  border: 0px solid #000;
}

#logo{
  width: 200px;
  height: 100px;
  border: 0px solid #000;
  float: left; font-family: sans-serif;
}

.titulo{
  margin-top: 25px;
  font-size: 30px;
}

.sub-titulo{
  font-size: 14px;
  margin-top: -20px;
}

.menu{
  width: 460px;
  height: 40px;
  border: 1px solid #ccc;
  float: right;
  margin-top: 40px;
  background: #006699;
}

.menu ul{}

.menu ul li{
  list-style: none;
  float: left;
}

.menu ul li a{
  text-decoration: none;
  padding: 10px 15px;
  border: 0px solid #ccc;
  color: #fff; 
}

.menu ul li a:hover{
  background: #fff;
  color: #006699;
  transition: background 1s, color 1s;
}

#slide{
  margin-top: -5px;
  width: 900px;
  height: 250px;
}

#categorias{
  width: 900px;
  height: auto; overflow: hidden;
  border: 0px solid;
  margin-top: 15px;
}

.uno{
  width: 280px;
  height: auto; overflow: hidden;
  border: 1px solid #ccc;
  float: left;
  padding: 5px;
  text-align: center;
  color: #4682b4;
}

.parrafo{
  color: #707070;
  text-align: justify;
}
.dos{
  margin-left: 12px;
  margin-right: 12px;
}

.leer-mas{
  text-decoration: none;
  border: 1px solid #006699;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
}

.leer-mas:hover{
  background: #006699;
  color: #fff;
  transition: background 1s, color 1s;
}


#info{
  width: 900px;
  height: auto; overflow: hidden;
  border: 0px solid #c0c0c0;
  margin-top: 10px; color: 
}

#izq{
  width: 585px;
  height: auto; overflow: hidden;
  border: 1px solid #ccc;
  float: left;
  padding: 5px; color: #4682b4;
}

.img{
  margin-right: 7px;
  margin-bottom: 7px;
}


#der{
  width: 290px;
  height: 300px;
  border: 1px solid #ccc;
  float: right;
  color: 
}

footer{
  width: 900px;
  height: 100px;
  text-align: center;
}

#footer p{
  width: 500px;
}

/*------------contacto------------------------*/
#formulario{
  width: 432px;
  height: auto;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 5px;
  float: left
}

#mapa{
  width: 432px;
  height: auto;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 5px;
  float: right;
}

input[type="text"]{
  border: 1px solid #c1c1c1; padding: 6px;
  width: 97%;
}

textarea{
  border: 1px solid #c1c1c1; padding: 6px;
  width: 97%;
}

.enviar{
  padding: 10px 20px;
  background: #006699;
  color: #fdfdfd;
  font-size: 16px;
}

#form{}

#datos{
  margin-top: 30px;
}

/*Juego*/


#picbox {
  margin: 0px auto;
  width: 640px;

}
#boxcard {
  z-index: 1;
  margin: 2px 0 0;
}
#boxcard div{
  display: inline-table;
  float: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  border: 4px solid orange;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
  background: #000797;
  z-index: 3;
}
#boxcard div img {
  display: none;
  border-radius: 10px;
  z-index: 3;
}
#boxbuttons {
  text-align: center;
  margin: 20px;
  display: block;
}
#boxbuttons .button {
  text-transform: uppercase;
  background:orange;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#boxbuttons .button:hover {
  background:yellow;
}

ion-view {
  background-image: url(http://revistacultural.ecosdeasia.com/wp-content/uploads/2017/06/d1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*tabla*/
.nutrifacts-img {
  float:left;
}
.nutrifacts-img img {
  width:300px;
}
.nutrifacts-html {
  padding:2px;
  font-family: "Helvetica";
  font-size: 12px;
  float: left;
  border: 1px solid black;
  width: 250px;
  margin-top:2px;
}
.nutrifacts-html table {
  border-collapse: collapse;
  width:100%;
}
.nutrifacts-html td {
  border-top: 1px solid black;
}
.nutrifacts-html h2 {
  margin:0;
  font-size:29px;
}
.separator {
  height:9px;
  background-color: black;
  margin-top:2px;
}
.align-text-right {
  text-align:right;
}
.info {
  border-top:1px solid black;
  padding: 2px;
  font-size:9px;
}
